{% spaceless %}

    <div class="container">

        {#  
        <link href="{{ sd }}js/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
        <link href="{{ sd }}js/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet">
        <script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
        #}

        {% include constant('dir_mods_mod_vers_tpl')~'body.nav.htm' %}

        <div class="row">
            <div class="col-12" style="padding-bottom: 4vh;">
                <div class="title-product" >
                    <h1>{{ item.head|replace({'с ': 'c&nbsp;', 'для ': 'для&nbsp;'})|raw  }}</h1>
                </div>
            </div>
        </div>
                
        <div class="row">

            {# фотки #}
            <div class="content-product-left class-honizol col-12 col-sm-6 col-lg-4">

                {% if 1 == 2 %} {{ pa(item) }} {% endif %}

                {#<img src="" />#}
                {% if photos[item.art][0]['show'] is defined %}
                    <img src="/di-img/min/600/{{ photos[item.art][0]['show'] }}" 
                         style="margin: 0 2rem; border:1px dotted gray; width: 90%;  max-height:30rem;" />
                {% else %}
                    <div style="margin:0 2rem;border:1px dotted gray; width: 90%; min-height:30vh;" ></div>
                {% endif %}





                {% if 1 == 2 %}
                    <div class="large-image  ">
                        <img 
                            itemprop="image" 
                            class="product-image-zoom" 
                            {#<img src="/di-img/min/150/{{ photos[item.art][0]['show'] }}" style="max-width: 150px; max-height: 120px;" alt="" border="0" />#}
                            {#src="img/demo/shop/product/resize/product-1.jpg" #}
                            src="/di-img/min/150/{{ photos[item.art][0]['show'] }}" 
                            {#data-zoom-image="img/demo/shop/product/resize/product-1.jpg" #}
                            data-zoom-image="/di-img/min/150/{{ photos[item.art][0]['show'] }}" 
                            title="" 
                            alt="" 
                            />
                    </div>
                {% endif %}

                {# галерея овл #}
                {% if 1 == 2 %}
                    <div class="large-image  ">
                        <img itemprop="image" class="product-image-zoom" 
                             {#src="img/demo/shop/product/resize/product-1.jpg" 
                             data-zoom-image="img/demo/shop/product/resize/product-1.jpg" #}
                             src="/di-img/min/150/{{ photos[item.art][0]['show'] }}" 
                             data-zoom-image="img/demo/shop/product/resize/product-1.jpg" 
                             title="Bint Beef" alt="Bint Beef">
                    </div>


                    <div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider owl-carousel" data-nav="yes" data-loop="yes" data-margin="10" data-items_xs="2" data-items_sm="3" data-items_md="4"> 

                        <div class="owl-stage-outer">

                            <div class="owl-stage" style="transform: translate3d(-419px, 0px, 0px); transition: all 0s ease 0s; width: 1362px;">

                                <div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;">
                                    <a data-index="1" class="img thumbnail " 
                                       data-image="img/demo/shop/product/resize/product-2.jpg" 
                                       title="Bint Beef">
                                        <img 
                                            {#src="img/demo/shop/product/product-2.jpg" #}
                                            src="/di-img/min/150/{{ photos[item.art][0]['show'] }}" 
                                            title="Bint Beef" alt="Bint Beef" />
                                    </a>
                                </div>
                                <div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;">
                                    <a data-index="2" class="img thumbnail " data-image="img/demo/shop/product/resize/product-3.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-3.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a>
                                </div>

                                <div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="3" class="img thumbnail " data-image="img/demo/shop/product/resize/product-4.jpg" title="Bint Beef">
                                        <img 
                                            {#src="img/demo/shop/product/product-4.jpg" #}
                                            src="/di-img/min/150/{{ photos[item.art][0]['show'] }}" 
                                            title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="0" class="img thumbnail " data-image="img/demo/shop/product/resize/product-5.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-5.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item active" style="width: 94.75px; margin-right: 10px;"><a data-index="0" class="img thumbnail " data-image="img/demo/shop/product/resize/product-1.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-1.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item active" style="width: 94.75px; margin-right: 10px;"><a data-index="1" class="img thumbnail " data-image="img/demo/shop/product/resize/product-2.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-2.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item active" style="width: 94.75px; margin-right: 10px;"><a data-index="2" class="img thumbnail " data-image="img/demo/shop/product/resize/product-3.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-3.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item active" style="width: 94.75px; margin-right: 10px;"><a data-index="3" class="img thumbnail " data-image="img/demo/shop/product/resize/product-4.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-4.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item" style="width: 94.75px; margin-right: 10px;"><a data-index="0" class="img thumbnail " data-image="img/demo/shop/product/resize/product-5.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-5.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="0" class="img thumbnail " data-image="img/demo/shop/product/resize/product-1.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-1.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="1" class="img thumbnail " data-image="img/demo/shop/product/resize/product-2.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-2.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="2" class="img thumbnail " data-image="img/demo/shop/product/resize/product-3.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-3.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div><div class="owl-item cloned" style="width: 94.75px; margin-right: 10px;"><a data-index="3" class="img thumbnail " data-image="img/demo/shop/product/resize/product-4.jpg" title="Bint Beef">
                                        <img src="img/demo/shop/product/product-4.jpg" title="Bint Beef" alt="Bint Beef">
                                    </a></div>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev"></div>
                            <div class="owl-next"></div>
                        </div>
                        <div class="owl-dots disabled"></div>

                    </div>

                {% endif %}

            </div>


            {# тех данные #}
            <div class="content-product-right col-12 col-sm-6 col-lg-8">

                {% if 1 == 2 %}
                    <!-- Review -->
                    <div class="box-review form-group">
                        <div class="ratings">
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star gray"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if 1 == 2 %}
                    {#item.props#}
                    <div class="product-box-desc">
                        <ul>
                            {% for v in item.props %}
                                <li>
                                    <b>{{ v.head }}:</b> {{ v.value }}
                                </li>
                            {% endfor %}
                            {#<li>Android 4.4 KitKat OS</li>#}
                            {#<li>1.4 GHz Quad Core™ Processor</li>#}
                            {#<li>20 MP front and 28 megapixel CMOS rear camera</li>#}
                        </ul>
                    </div>
                {% endif %}


                {% if 1 == 2 %}
                    <div class="product-label form-group">
                        {% if 1 == 1 %}
                            <div class="stock">
                                <span>Availability:</span> <span class="instock">In Stock</span>
                                <p>SKU: 3721 -Vlk</p>
                            </div>
                        {% endif %}

                        <div class="product_page_price price" 
                             {# itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer" #}
                             >
                            <span class="price-new" style="font-size:2rem;"{# itemprop="price" #}>{{ item.price|number_format(0,'.',' ') }} ₽</span>
                            {# <span class="price-old">$122.00</span> #}
                        </div>

                    </div>
                {% endif %}




                <table class="table table-striped table-sm">

                    <tbody>

                        {%  if 1 == 2 %}
                        <tr>
                            <th style="width:30%; text-align: right;">
                                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                <script src="https://yastatic.net/share2/share.js"></script>
                                Поделиться: </th>
                            <td> <span class="ya-share2" style="display: inline-block;"  data-services="collections,vkontakte,facebook,odnoklassniki,twitter,whatsapp,telegram"></span>
                            </td>
                        </tr>

                        {% endif %}
                        
                        {% for v in item.props %}
                            <tr>
                                <th style="width:30%; text-align: right;">{{ v.head }}</th>
                                <td>{{ v.value }}</td>
                            </tr>
                        {% endfor %}



                        {% if item.price2 is not empty %}
                            <tr>
                                <th style="width:30%; text-align: right;">Стоимость заправки</th>
                                <td>
                                    {{ item.price2|number_format(0,'.',' ') }} ₽
                                    {#<button class='btn btn-sm btn-info'>Заказать заправку</button>#}

                                </td>
                            </tr>
                            <tr>
                                <th style="width:30%; text-align: right;">&nbsp;</th>
                                <td>
                                    {# купить заправку #}
                                    {% if 1 == 1 %}

                            <nobr {#class="quantity_inner"#} style="display:inline-block; {#margin-top:3vh;#} ">

                                <button class="btn {#bt_minus#}" 
                                        type="button" 
                                        style="color:rgb(255,100,100);" 
                                        onclick="$ee = $('#qiz{{ item.id }}').val() - 1; $('#qiz{{ item.id }}').val($ee > 1 ? $ee : 1);"
                                        ><span class="fa fa-minus"></span></button>

                                <input type="text"
                                       id="qiz{{ item.id }}"
                                       value="1"
                                       readonly=""
                                       style="text-align: center; width: 50px; display: inline-block; padding-right: 2px; padding-left: 2px;"
                                       class="form-control {#quantity#}" 
                                       />

                                <button class="btn {#bt_plus#}" type="button" style="color:rgb(100,255,100);" 
                                        onclick="$ee = +$('#qiz{{ item.id }}').val() + 1; $('#qiz{{ item.id }}').val($ee > 1 ? $ee : 1);"
                                        ><span class="fa fa-plus"></span></button>

                            </nobr>

                            <button 
                                class="addcart-ver2 shop__add_to_cart addToCart btn btn-sm btn-info2 " 

                                action="add_item_to_cart"

                                {%  for k3,v3 in item %}
                                    aj_{{ k3 }} ="{{ v3 }}"
                                {% endfor %}

                                aj_kolvo="1"
                                aj_type_price="price2"

                                id="{{ item.id ~'z' }}"
                                s="{{ creatSecret( item.id ~'z' ) }}"

                                hide_this_on_click="da"
                                show_id_defore_click="but2_ok_{{ item.id }}"

                                onclick="$(this).attr('aj_kolvo', $('#qiz{{ item.id }}').val());"
                                > 
                                <span class="">
                                    Заказать заправку {#<span class="price_zapravka" >{{ item.price2 }}&nbsp;₽</span>#}
                                </span>

                            </button>
                            <a href="/{{ get.level }}/cart/" 
                               class="addcart-ver2 ok btn btn-success" 
                               id="but2_ok_{{ item.id }}"
                               style="
                               margin-top:0;
                               display:none;
                               {#margin-bottom: 1vh;#}
                               "
                               > 
                                Заправка в&nbsp;корзине
                            </a>
                        {% endif %}
                        </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th style="width:30%; text-align: right;">Цена</th>
                        <td>{{ item.price|number_format(0,'.',' ') }} ₽</td>
                    </tr>

                    <tr>
                        <th style="width:30%; text-align: right;">&nbsp;</th>
                        <td>


                    <nobr {#class="quantity_inner"#} style="display:inline-block; {#margin-top:3vh;#} ">

                        <button class="btn {#bt_minus#}" 
                                type="button" 
                                style="color:rgb(255,100,100);" 
                                onclick="$ee = $('#qi{{ item.id }}').val() - 1; $('#qi{{ item.id }}').val($ee > 1 ? $ee : 1);"
                                ><span class="fa fa-minus"></span></button>

                        <input type="text"
                               id="qi{{ item.id }}"
                               value="1"
                               readonly=""
                               style="text-align: center; width: 50px; display: inline-block; padding-right: 2px; padding-left: 2px;"
                               class="form-control {#quantity#}" 
                               />

                        <button class="btn {#bt_plus#}" type="button" style="color:rgb(100,255,100);" 
                                onclick="$ee = +$('#qi{{ item.id }}').val() + 1; $('#qi{{ item.id }}').val($ee > 1 ? $ee : 1);"
                                ><span class="fa fa-plus"></span></button>

                    </nobr>

                    {% if 1 == 2 %}
                        <button class="shop__add_to_cart addToCart btn btn-success" 
                                style="width: auto; xdisplay: inline-block;"
                                xtype="button" xdata-toggle="tooltip" 
                                xtitle="" onclick="cart.add('42', '1');" 
                                xdata-original-title="Add to Cart"

                                action="add_item_to_cart"

                                aj_id ="{{ item.id }}"
                                aj_name ="{{ item.head }}"
                                aj_price ="{{ item.a_price }}"
                                aj_kolvo ="1"

                                id ="{{ item.head ~ item.a_price ~'1' }}"
                                s ="{{ creatSecret( item.head ~ item.a_price ~'1' ) }}"

                                hide_this_on_click="da"
                                show_id_defore_click="but_ok_{{ item.id }}"

                                > 
                            <span class="">
                                Добавить в корзину
                            </span>
                        </button>

                        <a href="/{{ get.level }}/cart/" 
                           class="btn btn-success" 
                           id="but_ok_{{ item.id }}"
                           style="display:none;"
                           > 
                            В корзине
                        </a>


                    {% endif %}

                    <button 

                        class="addcart-ver2 shop__add_to_cart addToCart btn btn-sm btn-info2 " 

                        action="add_item_to_cart"

                        {%  for k3,v3 in item %}
                            aj_{{ k3 }} ="{{ v3 }}"
                        {% endfor %}

                        aj_kolvo ="1"

                        id="{{ item.id }}"
                        s="{{ creatSecret( item.id ) }}"

                        hide_this_on_click="da"
                        show_id_defore_click="but_ok_{{ item.id }}"

                        onclick="$(this).attr('aj_kolvo', $('#qi{{ item.id }}').val());"

                        > 
                        <span class="">
                            В&nbsp;корзину
                        </span>
                    </button>
                    <a href="/{{ get.level }}/cart/" 
                       class="addcart-ver2 ok btn btn-success" 
                       id="but_ok_{{ item.id }}"
                       style="
                       margin-top:0;
                       display:none;
                       {#margin-bottom: 1vh;#}
                       "
                       > 
                        В&nbsp;корзине
                    </a>


                    {% if 1 == 2 %}
                        <div id="product text-center" style="margin-top:3rem;" >
                            <center>

                                {% if item.a_price is defined %}
                                    <span style="font-size:2rem; margin-right:2rem;">{{ item.a_price|number_format(2,'.','`') }} ₽</span>
                                {% endif %}

                            </center>

                            {% if 1 == 1 %}
                                <div class="form-group box-info-product">
                                    <div class="option quantity">
                                        <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                            <label>Qty:  </label>
                                            <input class="form-control" type="text" name="quantity" value="1">
                                            <input type="hidden" name="product_id" value="50">
                                            <span class="input-group-addon product_quantity_down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <span class="input-group-addon product_quantity_up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                    <div class="info-product-right">
                                        <div class="cart">
                                            <input type="button" data-toggle="tooltip" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('42', '1');" data-original-title="Add to Cart">
                                        </div>
                                        <div class="add-to-links wish_comp">
                                            <ul class="blank list-inline">
                                                <li class="wishlist">
                                                    <a class="icon" data-toggle="tooltip" title="" onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                <li class="compare">
                                                    <a class="icon" data-toggle="tooltip" title="" onclick="compare.add('50');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}

                        </div>
                        <!-- end box info product -->
                    {% endif %}

                    </td>
                    </tr>


                    </tbody>

                </table>


            </div>                

        </div>             

        {% if item.desc is defined and item.desc|length > 0 %}

            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">

                        <li class="nav-item">
                            <a class="nav-link active" href="#">Описание</a>
                        </li>

                        {#<li class="nav-item">
                          <a class="nav-link" href="#">Ссылка</a>
                        </li>#}

                        {#<li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенная</a>
                        </li>#}

                    </ul>
                </div>
                <div class="card-body text-left">
                    {#<h5 class="card-title">Особое обращение с титулом</h5>#}
                    {#    <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
                        <a href="#" class="btn btn-primary">Идти куда-нибудь</a>
                    #}  
                    <p>{{ item.desc }}</p>
                </div>
            </div>            

        {% endif %}


        <div class="row" style="margin-top: 3vh;">
            <div class="col text-center">


                <div class="share text-center" style="margin-top:1vh;">

                    {% if 1 == 2 %}
                        <div class="share-icon">
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="skype"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>

            </div>		
        </div>

        {# описание всё такое #}
        {% if 1 == 2 %}
            <div class="row">
                <div class="col-sx-12">
                    <div class="producttab ">
                        <div class="tabsslider  col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
                                <li class="item_nonactive "><a data-toggle="tab" href="#tab-review">Reviews (1)</a></li>
                                <li class="item_nonactive"><a data-toggle="tab" href="#tab-4">Tags</a></li>
                                <li class="item_nonactive"><a data-toggle="tab" href="#tab-5">Custom Tab</a></li>
                            </ul>
                            <div class="tab-content col-xs-12">
                                <div id="tab-1" class="tab-pane fade active in">
                                    <p>
                                        The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all the tools and palettes needed to edit, format and composite your work. Combine this display with a Mac Pro, MacBook Pro, or PowerMac G5 and there's no limit to what you can achieve. <br>
                                        <br>
                                        The Cinema HD features an active-matrix liquid crystal display that produces flicker-free images that deliver twice the brightness, twice the sharpness and twice the contrast ratio of a typical CRT display. Unlike other flat panels, it's designed with a pure digital interface to deliver distortion-free images that never need adjusting. With over 4 million digital pixels, the display is uniquely suited for scientific and technical applications such as visualizing molecular structures or analyzing geological data. <br>
                                        <br>
                                        Offering accurate, brilliant color performance, the Cinema HD delivers up to 16.7 million colors across a wide gamut allowing you to see subtle nuances between colors from soft pastels to rich jewel tones. A wide viewing angle ensures uniform color from edge to edge. Apple's ColorSync technology allows you to create custom profiles to maintain consistent color onscreen and in print. The result: You can confidently use this display in all your color-critical applications. <br>
                                        <br>
                                        Housed in a new aluminum design, the display has a very thin bezel that enhances visual accuracy. Each display features two FireWire 400 ports and two USB 2.0 ports, making attachment of desktop peripherals, such as iSight, iPod, digital and still cameras, hard drives, printers and scanners, even more accessible and convenient. Taking advantage of the much thinner and lighter footprint of an LCD, the new displays support the VESA (Video Electronics Standards Association) mounting interface standard. Customers with the optional Cinema Display VESA Mount Adapter kit gain the flexibility to mount their display in locations most appropriate for their work environment. <br>
                                        <br>
                                        The Cinema HD features a single cable design with elegant breakout for the USB 2.0, FireWire 400 and a pure digital connection using the industry standard Digital Video Interface (DVI) interface. The DVI connection allows for a direct pure-digital connection.<br>
                                    </p>


                                </div>
                                <div id="tab-review" class="tab-pane fade  in">
                                    <form>
                                        <div id="review">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;"><strong>Super Administrator</strong></td>
                                                        <td class="text-right">29/07/2015</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>Best this product opencart</p>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star gray"></i>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right"></div>
                                        </div>
                                        <h2 id="review-title">Write a review</h2>
                                        <div class="contacts-form">
                                            <div class="form-group"> <span class="icon icon-user"></span>
                                                <input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {
                                                            this.value = 'Your Name';
                                                        }" onfocus="if (this.value == 'Your Name') {
                                                                    this.value = '';
                                                                }"> 
                                            </div>
                                            <div class="form-group"> <span class="icon icon-bubbles-2"></span>
                                                <textarea class="form-control" name="text" onblur="if (this.value == '') {
                                                            this.value = 'Your Review';
                                                        }" onfocus="if (this.value == 'Your Review') {
                                                                    this.value = '';
                                                                }">Your Review</textarea>
                                            </div> 
                                            <span style="font-size: 11px;"><span class="text-danger">Note:</span>						HTML is not translated!</span>

                                            <div class="form-group">
                                                <b>Rating</b> <span>Bad</span>&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating" value="2"> &nbsp;
                                                <input type="radio" name="rating" value="3"> &nbsp;
                                                <input type="radio" name="rating" value="4"> &nbsp;
                                                <input type="radio" name="rating" value="5"> &nbsp;<span>Good</span>

                                            </div>
                                            <div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>
                                        </div>
                                    </form>
                                </div>
                                <div id="tab-4" class="tab-pane fade">
                                    <a href="product.html" class="product-img">Monitor</a>,
                                    <a href="product.html" class="product-img">Apple</a>				
                                </div>
                                <div id="tab-5" class="tab-pane fade">
                                    <p>Lorem ipsum dolor sit amet, consetetur
                                        sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore
                                        magna aliquyam erat, sed diam voluptua.
                                        At vero eos et accusam et justo duo
                                        dolores et ea rebum. Stet clita kasd
                                        gubergren, no sea takimata sanctus est
                                        Lorem ipsum dolor sit amet. Lorem ipsum
                                        dolor sit amet, consetetur sadipscing
                                        elitr, sed diam nonumy eirmod tempor
                                        invidunt ut labore et dolore magna aliquyam
                                        erat, sed diam voluptua. </p>
                                    <p>At vero eos et accusam et justo duo dolores
                                        et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum
                                        dolor sit amet. Lorem ipsum dolor sit
                                        amet, consetetur sadipscing elitr.</p>
                                    <p>Sed diam nonumy eirmod tempor invidunt
                                        ut labore et dolore magna aliquyam erat,
                                        sed diam voluptua. At vero eos et accusam
                                        et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata
                                        sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row" style="margin-top: 2vh; margin-bottom: 2vh;">
            <div class="col-12 text-center" >
                <p style="color: gray;" >Цена заправки может отличаться, для уточнения отправте заявку или свяжитесь с менеджером</p>
            </div>
        </div>


    </div>
{% endspaceless %}