{% spaceless %}

    <div class="widget-product-list">
        <div class="row">

            <div class="col">

                {# верхняя строчка списка итемов #}
                {% if 1 == 1 %}
                    <div xclass="filter-block bd">

                        <div class="row" style="padding-top: 2vh; padding-bottom: 1vh;">

                            <div class="{% if get.ext1 is defined and get.ext1 == 'item' %}col{% else %}col-xs-12 col-md-10{% endif %}" style="padding-left:5%;" >

                                {#----- {{ get.option }} -----#}
                                {% set nav_cat = shop__get_nav_cats(db, get.option) %}
                                {#<div style="border: 1px solid green; padding: 10px;" >
                                {{ pa(nav_cat) }}
                                </div>#}

                                {#<ul class="other-link-sub xpull-right">#}

                                {#<nav aria-label="breadcrumb">
                                  <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                  </ol>
                                </nav>                                            #}
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">                                          
                                        {% if server.HTTP_HOST == 'avto-as.ru' %}
                                            <li >
                                                <a href="/show/">Авто-АС</a>
                                            </li>
                                        {% else %}
                                            <li class="breadcrumb-item" >
                                                <a href="/{{ get.level }}/">Каталог</a>
                                            </li>
                                        {% endif %}

                                        {% if nav_cat != false %}

                                            {% for k in 5..1 if nav_cat['cat'~k] is not empty and nav_cat['cat'~k] != '00000126' %}
                                                {#{{ nav_cat['cat'~k] }}#}
                                                <li class="breadcrumb-item" >
                                                    <a href="/{{ get.level }}/{{ nav_cat['cat'~k] }}/">{{ nav_cat['cat'~k~'_head'] }}</a>
                                                </li>
                                            {% endfor %}

                                        {% endif %}

                                        {#<li><a class="active" href="#shop">Shop</a></li>#}

                                    </ol>
                                </nav>

                            </div>

                            {#{{  get.search }}#}

                            {% if get.ext1 is defined and get.ext1 == 'item' %}
                            {% else %}
                                {% if get.search is defined or get.option is defined %}
                                    <div class="col-md-2 hidden-xs">
                                        <div class="box box-view pull-right" style="padding-right:5%; font: 14px/36px 'Open Sans', sans-serif;">
                                            <span>Товары {{ show_on }}–{% if items|length < show_off %}{{ items|length }}{% else %}{{ show_off }}{% endif %} из {{ items|length }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>

                    </div>

                {% endif %}

            </div>

        </div>
    </div>


{% endspaceless %}