{% spaceless %}

    {% set photos = shop__getPhotoArticuls()  %}

    {% set summa = 0 %}

    {#{{ pa(session,2) }}#}
    {#{{ pa(photos,2) }}#}

    <div 
        style="margin-top: 3vh;"
        class="
        container 
        {#container-fluid #}
        checkout-cart-form">

        <form action="" method="post" >
            <div class="row">

                <div class="col-12 {% if session.cart|length > 0 %}col-lg-9{% else %}{% endif %}" >

                    {% if session.cart|length > 0 %}

                        <table class="table table-striped xshop_table">
                            <thead>
                                <tr style="position:sticky; top:0; background-color:white; border-bottom: 1px solid gray;" >
                                    <th class="product-thumbnail hidden-xs">&nbsp;</th>
                                    <th class="product-name text-center">Товар</th>
                                    <th class="product-price text-center">Цена</th>
                                    <th class="quantity text-center">Кол-во</th>
                                    <th class="product-subtotal text-center hidden-xs">Сумма</th>
                                        {#<th>&nbsp;</th>#}
                                </tr>
                            </thead>
                            <tbody>

                                {%  for k,item in session.cart %}

                                    {#{{ item.price2 }}#}

                                    {% include constant('dir_mods_mod_vers_tpl')~'body.cart.item.htm' %}

                                    {% if item.type_price == 'price2' and item.price2 > 0 %}

                                        {% set summa = summa + ( ( item.price2 ? item.price2|replace({' ': ''})|abs :  0 ) * item.kolvo ) %}
                                    {% else %}
                                        {% set summa = summa + ( ( item.price ? item.price :  0 ) * item.kolvo ) %}
                                    {% endif %}

                                    {#{{ pa(item) }}#}

                                    {#                            
                                    {% if item.price is defined and item.price > 0 and item.kolvo is defined and item.kolvo > 0 %}
                                    {% set summa = summa + ( item.price * item.kolvo ) %}
                                    {% endif %}
                                    #}

                                {% endfor %}

                                {% if 1 == 2 %}
                                    <tr class="cart_item">
                                        <td class="product-thumbnail"><a href="#"><img src="img/checkout/product-2.jpg" alt="images" class="img-responsive"></a></td>
                                        <td class="product-name">
                                            <a href="#">Canon EOS 6D 20.2 MP CMOS Digital SLR Camera</a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$99.00</p>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="text" name="qtt" value="1">
                                            </div>
                                        </td>
                                        <td class="product-price product-subtotal">
                                            <p class="price">$99.00</p>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail"><a href="#"><img src="img/checkout/product-3.jpg" alt="images" class="img-responsive"></a></td>
                                        <td class="product-name">
                                            <a href="#">Canon EOS 6D 20.2 MP CMOS Digital SLR Camera</a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$140.00</p>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="text" name="qtt" value="1">
                                            </div>
                                        </td>
                                        <td class="product-price product-subtotal">
                                            <p class="price">$140.00</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>

                    {% else %}
                        <br/>
                        <br/>
                        <br/>
                        <h2 class="alert alert-warning text-center " >
                            Добавте товары в корзину для заказа
                        </h2>


                        <center>

                            <a href="/010.catalog/" >перейти к выбору товаров в каталоге</a>
                            <br/>
                            <br/>
                            или напишите в наши уютные месенджеры, отвечаем сразу, поможем собрать заказ
                            <br/>
                            <br/>
                            <span class="icon_msg" >
                                <a target="_blank" 
                                   class="btn btn-lg btn-light border"
                                   href="tg://resolve?domain=SC_Partner" 
                                   ><img src="/vendor/didrive/base/img/icon/tele.png" /> {#Telegram#}</a>
                                <a target="_blank" 
                                   class="btn btn-lg btn-light border"
                                   href="viber://chat?number=79044977399" 
                                   ><img src="/vendor/didrive/base/img/icon/viber.png" /> {#Viber#}</a>
                                <a target="_blank" 
                                   class="btn btn-lg btn-light border"
                                   href="https://api.whatsapp.com/send?phone=79044977399" 
                                   ><img src="/vendor/didrive/base/img/icon/whatsapp.png" /> {#WhatsApp#}</a>
                            </span>

                        </center>

                    {% endif %}

                    {#                            <br/>
                                                <br/>
                                                <center><a href="/show/" class="btn btn-default xbtn-continue-shopping"><span style="color:green;" class="fa fa-plus" ></span> Добавить товары</a></center>
                    #}                            
                </div>
                <div class="col-12 col-lg-3">

                    <div class="aside-shopping-cart-total" style="position: sticky; top: 60px;">

                        {% if session.cart|length > 0 %}

                            <div class="alert" style="background-color: rgba(0,0,0,0.05); " >

                                <h2>Форма заказа</h2>


                                <br/>

                                {#<h3>Контактные данные</h3>#}
                                <p>
                                    <label>
                                        <b>Как&nbsp;Вас&nbsp;зовут:</b><br/>
                                        <input type="text" class="form-control" 
                                               name="io"
                                               required=""
                                               />
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <b>Телефон:</b>
                                        <br/>
                                        <input type="text" class="form-control" 
                                               name="phone"
                                               {#pattern="[\+7|8]\s?[\(|-]{0,1}9[0-9]{2}[\)|-]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"#}
                                               required=""
                                               />
                                    </label>

                                </p>

                                <p><b>Сумма:</b>&nbsp;<span class="xcart-number" id="summa_all_show" >{{ summa|number_format(2,',','`') }}&nbsp;₽</span></p>

                                <p><input type="checkbox" name="req" required="" /> Нажимая на кнопку "Отправить заказ", я даю согласие на <a href="/privacy/" target="_blank" >обработку персональных данных</a>.</p>

                                <div class="process text-left" style="margin: 2vh 0; ">
                                    <button type="submit" class="btn btn-info2 btn-checkout">Отправить заказ</button>
                                </div>

                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </form>
        <div class="shopping-cart-option">

            {#<div class="button-option">#}
            {# <a href="/show/" class="btn-continue-shopping active">Добавить ещё товары</a>#}
            {#<a href="#" class="btn-clear">Очистить корзину</a>#}
            {#</div>#}

            {% if 1 == 2 %}
                <div class="shopping-cart-coupon">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <form action="#" method="POST" class="coupon-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Coupon Code">
                                    <span class="icon-coupon"></span>
                                </div>
                                <button type="submit" class="btn-submit"></button>
                            </form>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <a href="#" class="btn-update-cart">UPDATE CART</a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

{% endspaceless %}